[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
requests = "==2.31.0"
pylint = "==3.3.7"

[packages]
lxml = "==6.1.1"
Django = "==5.2.15"
reportlab = "==4.5.1"

[requires]
python_version = "3.13"
