[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
requests = "==2.24.0"
pylint = "==2.8.2"

[packages]
lxml = "==4.6.3"
spyne = "==2.13.15"
Django = "==3.1.14"
reportlab = "==3.5.55"

[requires]
python_version = "3.7"
